html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* *********************************************************** */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

/* La idea es estilizar la página como un ring de lucha */
.mainContainer {
    background-color: white;
    padding: 50px;
    border: 10px solid;
    border-top-color: red;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color: blue;
    border-radius: 10px;
}

#btnContainer {}

#rock {
    background-image: url("./images/rock.svg");

}

#paper {
    background-image: url("./images/paper.svg");
}

#scissors {
    background-image: url("./images/scissors.svg");
}