html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* *********************************************************** */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

/* La idea es estilizar la página como un ring de lucha */
.mainContainer {
    background-color: white;
    padding: 50px;
    border: 10px solid;
    border-top-color: red;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color: blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 700px;
    aspect-ratio: 1 / 1;
    gap: 20px;
}

#btnContainer {
    display: flex;
    gap: 10px;
}

#rock {
    background-image: url("./images/rock.svg");
    padding: 100px;

}

#paper {
    background-image: url("./images/paper.svg");
    padding: 100px;
}

#scissors {
    background-image: url("./images/scissors.svg");
    padding: 100px;
}

#roundResultsContainer {
    display: flex;
    flex-direction: column;
    align-self: normal;
    gap: 40px;
    margin-bottom: 30px;
}

.computerUserContainer {
    display: flex;
    justify-content: space-between;
}

.computerRoundResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userRoundResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winnerTitle {
    align-self: center;
}

#winnerText {
    align-self: center;
}

#globalResultsContainer {
    display: flex;
    flex-direction: column;
}